<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, provident amet inventore quis repellendus aut minima nesciunt doloribus veritatis culpa cumque quia laudantium vel voluptate ex, cupiditate temporibus, harum molestias?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ipsum rerum assumenda magni aut a consequatur ullam officiis, consectetur sunt nihil libero enim dignissimos. Quo obcaecati eaque dignissimos asperiores corporis?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et vitae earum deleniti officia ut. Nostrum quasi dolor perspiciatis eum molestiae, iste recusandae sapiente delectus quas eius velit unde consequuntur! Corporis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et vitae earum deleniti officia ut. Nostrum quasi dolor perspiciatis eum molestiae, iste recusandae sapiente delectus quas eius velit unde consequuntur! Corporis.
        <br/>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur inventore dolorem harum exercitationem autem quis, explicabo quas pariatur excepturi asperiores odio voluptas doloremque cumque nisi atque veritatis laudantium ullam repudiandae.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur inventore dolorem harum exercitationem autem quis, explicabo quas pariatur excepturi asperiores odio voluptas doloremque cumque nisi atque veritatis laudantium ullam repudiandae.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sunt. Amet quos nihil ducimus, dignissimos illum qui deserunt nulla, excepturi deleniti modi consequatur aspernatur praesentium corrupti aperiam ea molestias fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sunt. Amet quos nihil ducimus, dignissimos illum qui deserunt nulla, excepturi deleniti modi consequatur aspernatur praesentium corrupti aperiam ea molestias fugiat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sunt. Amet quos nihil ducimus, dignissimos illum qui deserunt nulla, excepturi deleniti modi consequatur aspernatur praesentium corrupti aperiam ea molestias fugiat.
        <br />
    </p>
</div>